// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/config

// ================================
// Asset Paths
// ================================

// Example Usage:
// background-image: url($image-dir + 'logo.svg');

$layout-dir: './';
$image-dir: $layout-dir + 'images/';
$font-dir: $layout-dir + 'fonts/';

//Only use in school district files (e.g. school1.scss)
$dist-image-dir: $layout-dir + '../../images/';
$dist-font-dir: $layout-dir + '../../fonts/';


// ================================
// Font Weights
// ================================

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;


// ================================
// Breakpoints
// ================================

// Example usage:
// @include breakpoint($bp-medium) {}

$bp-micro: 300px;
$bp-tiny: 400px;
$bp-small: 500px;
$bp-medium: 600px;
$bp-big: 700px;
$bp-large: 800px;
$bp-huge: 900px;
$bp-boundry: $boundry * 1px;
$bp-boundry-plus: ($boundry + ($gutter * 2));
$bp-titan: 1000px;
$bp-world: 1100px;
$bp-solar: 1200px;
$bp-galaxy: 1300px;
$bp-universe: 1400px;


// ================================
// Gamedex
// ================================

//css-tricks.com/handling-z-index/

$underground-index: 100;
$background-index: 200;
$character-index: 300;
$item-index: 400;
$foreground-index: 500;
$sky-index: 9000;


// ================================
// variables for targeting 
// compose/draft mode for CMS
// ================================

$composeMode: 'body.fsComposeMode';
$notComposeMode: 'body:not(.fsComposeMode)';

$draftMode: 'body.fsDraftMode';
$notDraftMode: 'body:not(.fsDraftMode)';

// example usage:
//#{$notComposeMode} {...code}


