// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/config

// ================================
// Colors
// ================================

// Default Color
$d1: #1c1c1c !default;

// Main Colors
$m1: #363636 !default;
$m2: #163052 !default;

// Shade Colors
$s1: #eee !default;
$s2: #333 !default;

// Link Color
$a1: #36c !default;
$a2: #039 !default;


// Reiteration of colors for the style guide
// Duplicated of prexisting colors entered into a comma separated list
$colors:
  $d1,
  $m1,
  $m2,
  $s1,
  $s2 !default;

// Specialty Colors
$placeholder: lighten($d1,10%) !default;

$default-border-style: solid 1px $s1 !default;
$input-border-style: solid 1px darken($s1, 20%) !default;


// ================================
// Columns
// ================================

$boundry: 1180;
$gutter: 20px;

$columns-3-2-1: true;


// Desktop Dimensions
// ================================

// Left Banner, Right Banner width
$left-banner-width-desktop: 240px !default; //width of left banner in design NOT including padding
$right-banner-width-desktop: 280px !default; //width of right banner in design NOT including padding

// Left Banner, Right Banner padding desktop
$left-banner-padding-right-desktop: 40px !default;
$right-banner-padding-left-desktop: 40px !default;


// Tablet Dimensions 
// (Left & Right banner visible)
// ======================================

// Left & Right Banner Width Tablet 
$left-banner-width-tablet: 180px !default;
$right-banner-width-tablet: 220px !default;

// Left Banner, Right Banner padding tablet
$left-banner-padding-right-tablet: 20px !default;
$right-banner-padding-left-tablet: 20px !default;


// Layout Breakpoints (mobile first)
// ================================

$layout-display-sidebar: 600px; //display sidebar slim width
$layout-sidebar-full-tablet: 700px; //display sidebar full width
$layout-siderbar-condensed-desktop: 800px;
$layout-sidebar-full-desktop: 1000px;



// Layout Dimension Calculations
// ================================

// Left & Right Banner Width Tablet with left and right banner visible
$lb-width-tablet: $left-banner-width-tablet + $left-banner-padding-right-tablet !default;
$rb-width-tablet: $right-banner-width-tablet + $right-banner-padding-left-tablet !default;

// Left & Right Banner Width Desktop with left and right banner visible
$lb-width-desktop: $left-banner-width-desktop + $left-banner-padding-right-desktop !default;
$rb-width-desktop: $right-banner-width-desktop + $right-banner-padding-left-desktop !default;


// Layout Optional Flex Ordering
// ================================

//Banner/Sidebar Order Mobile 
$rb-order-mobile: 1;
$lb-order-mobile: 1;
$content-order-mobile: 1;

//Banner/Sidebar Order Tablet 
$rb-order-tablet: 1;
$lb-order-tablet: 1;
$content-order-tablet: 1;

//Banner/Sidebar Order Desktop 
$rb-order-desktop: 1;
$lb-order-desktop: 1;
$content-order-desktop: 1;




// ================================
// Special Site Conditions
// ================================

// Configure breakpoints to be in ems
$bp-in-ems: false;

// Elements >> Unique
// Determines the range at which the hero background image scales
$hero-flex-height: 30vw;
$hero-min-height: 280;
$hero-max-height: 600;

// Decide whether the sub nav has collapse functionality
$nav-sub-collapses: true;

// If sub-nav-collapses is set to true, $bp-show-secondary-nav must equal $layout-display-sidebar
$bp-show-secondary-nav: $layout-display-sidebar; 


// ================================
// Situational Flexpoints
// ================================

// If sub-nav-collapses is set to true, $bp-create-columns must equal $layout-display-sidebar
$bp-create-columns: $layout-display-sidebar;
$bp-create-3-columns: 900px;
$bp-main-nav-inline: 900px !default;
$bp-show-main-dropdowns: 980px !default;
$bp-hide-off-canvas: 900px !default;



// All Column flexpoints *must* be above $bp-create-columns flexpoint
$bp-2-column: 800px;
$bp-3-column: 900px;
$bp-2-2-column: 800px;
$bp-4-column: 1000px;
$bp-5-column: 1200px;


