/*! structure - layouts v0.0.1 */

// ================================
// Global
// ================================

// 1. Apply a natural box layout model to all elements:
// paulirish.com/2012/box-sizing-border-box-ftw

* {
  box-sizing: border-box;
}

// Separate universal psuedo selectors for performance
// Remove pointer-events to prevent overlays from being clickable

*:before,
*:after {
  box-sizing: border-box;
  pointer-events: none;
}

html {
  // height: 100%;
  font-family: $sans-serif;
  background: $m1;
  -webkit-font-smoothing: antialiased; // all webkit
  -moz-osx-font-smoothing: grayscale; // firefox
}

body {
  // height: 100%;
  font-size: $body-font-size; 
  line-height: $body-line-height;
  color: $d1;
}


// ================================
// Page Container
// ================================
#fsPageWrapper {
  overflow-x: hidden;
  position: relative;

  // necessary for sticky wysiwyg nav bar in composer
  #{$composeMode} & {
    overflow: visible;
  }
}


#fsPageBodyWrapper {
  @include padding-x;
  @include padding-y($gutter * 2);
  background: #fff;
}

#fsPageBody {
  @include compartment;
  display: flex;
  flex-wrap: wrap;

  @if $columns-3-2-1 {

    @include breakpoint($layout-display-sidebar) { //600px
      display: block;
    }

    @include breakpoint($layout-siderbar-condensed-desktop) { //800px
      display: flex;
    }
  }
}


// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Common Columns
// ================================

@mixin layout-column($importance: false) {
  margin-bottom: $gutter;

  @if $importance {
    width: 100% !important;
    float: none !important;
  }
  @else {
    width: 100%;
    float: none;
  }

  @include breakpoint($bp-create-columns) {
    @if $importance {
      float: left !important;
    }
    @else {
      float: left;
    }
  }

}

#fsBannerLeft {
  order: $lb-order-mobile;
  width: 100%;
  margin-bottom: $gutter;

  @include breakpoint($layout-display-sidebar) {
    padding-right: $left-banner-padding-right-tablet;
    width: $lb-width-tablet;
    order: $lb-order-tablet;
    margin-bottom: 0;
  }

  @include breakpoint($layout-sidebar-full-tablet) {
    padding-right: $left-banner-padding-right-desktop;
    width: $lb-width-desktop;
    order: $lb-order-desktop;
  }

  .fsHasLeftBanner.fsHasRightBanner & {
    @include breakpoint($layout-display-sidebar) { //600px
      order: $lb-order-tablet;
      padding-right: $left-banner-padding-right-tablet;
      width: $lb-width-tablet;
    }

    @include breakpoint($layout-sidebar-full-tablet) { //700px
      padding-right: $left-banner-padding-right-desktop;
      width: $lb-width-desktop;
    }

    @include breakpoint($layout-siderbar-condensed-desktop) { //800px
      order: $lb-order-desktop;
      padding-right: $left-banner-padding-right-tablet;
      width: $lb-width-tablet;
    }

    @include breakpoint($layout-sidebar-full-desktop) { //1000px
      padding-right: $left-banner-padding-right-desktop;
      width: $lb-width-desktop;
    }
  }
}


#fsPageContent {
  width: 100%;
  .fsHasRightBanner & {
    order: $content-order-mobile;
    width: 100%;

    @include breakpoint($layout-display-sidebar) {
      order: $content-order-tablet;
      width: calc(100% - #{$rb-width-tablet});
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      order: $content-order-desktop;
      width: calc(100% - #{$rb-width-desktop});
    }
  }

  .fsHasLeftBanner & {
    order: $content-order-mobile;
    width: 100%;

    @include breakpoint($layout-display-sidebar) {
      order: $content-order-tablet;
      width: calc(100% - #{$lb-width-tablet});
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      order: $content-order-desktop;
      width: calc(100% - #{$lb-width-desktop});
    }
  }

  .fsHasLeftBanner.fsHasRightBanner & {
    order: $content-order-mobile;
    margin-bottom: $gutter;
    width: 100%;

    @include breakpoint($layout-display-sidebar) { //600px
      order: $content-order-tablet;
      width: calc(100% - #{$lb-width-tablet});
    }

    @include breakpoint($layout-sidebar-full-tablet) { //700px
      width: calc(100% - #{$lb-width-desktop});
      
    }

    @include breakpoint($layout-siderbar-condensed-desktop) { //800px
      order: $content-order-desktop;
      width: calc(100% - #{$lb-width-tablet + $rb-width-tablet});
      margin-bottom: 0;
    }

    @include breakpoint($layout-sidebar-full-desktop) { //1000px
      width: calc(100% - #{$lb-width-desktop + $rb-width-desktop});
    }
  }
}


#fsBannerRight {
  order: $rb-order-mobile;
  width: 100%;
  margin-bottom: $gutter;

  @include breakpoint($layout-display-sidebar) {
    padding-left: $right-banner-padding-left-tablet;
    width: $rb-width-tablet;
    order: $rb-order-tablet;
    margin-bottom: 0;
  }

  @include breakpoint($layout-sidebar-full-tablet) {
    padding-left: $right-banner-padding-left-desktop;
    width: $rb-width-desktop;
    order: $rb-order-desktop;
  }

  .fsHasLeftBanner.fsHasRightBanner & {
    width: 100%;
    padding: 0;

    @if $columns-3-2-1 {
      @include breakpoint($layout-display-sidebar) { //600px
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-tablet) { //700px
        width: calc(100% - #{$lb-width-desktop});
      }
    }

    @include breakpoint($layout-siderbar-condensed-desktop) { //800px
      order: $rb-order-desktop;
      padding-left: $right-banner-padding-left-tablet;
      width: $rb-width-tablet;
    }

    @include breakpoint($layout-sidebar-full-desktop) { //1000px
      padding-left: $right-banner-padding-left-desktop;
      width: $rb-width-desktop;
    }
  }
}


// ================================
// Common Layout
// ================================

.fsLayout {

  @include breakpoint($bp-create-columns) {
    @include margin-x($gutter * -1);
  }

  .fsDiv {
    @include layout-column;

    @include breakpoint($bp-create-columns) {
      @include padding-x;
    }

  }


  > header,
  > footer  {
    @include breakpoint($bp-create-columns) {
      @include padding-x;
    }
  }

}

// ================================
// 1c
// ================================

// No Changes


// ================================
// 2c
// ================================

.fsTwoColumnLayout {

  .fsDiv {

    @include breakpoint($bp-2-column) {
      width: cp(1, 2);
    }

  }

}


// ================================
// 3c
// ================================

.fsThreeColumnLayout {

  .fsDiv {

    @include breakpoint($bp-3-column) {
      width: cp(1, 3);
    }

  }

}


// ================================
// 4c
// ================================

.fsFourColumnLayout {

  .fsDiv {

    @include breakpoint($bp-2-column) {
      width: cp(1, 2);
    }

    @include breakpoint($bp-4-column) {
      width: cp(1, 4);
    }

  }

}


// ================================
// 2c-1c
// ================================

// No Changes


// ================================
// 1c-2c
// ================================

// No Changes


// ================================
// 3c-1c
// ================================

// No Changes


// ================================
// 1c-3c
// ================================

// No Changes


// ================================
// 1c-2c-1c
// ================================

// No Changes


// ================================
// 1c-3c-1c
// ================================

// No Changes


// ================================
// Elephants & Wide Left/Right
// ================================

.fsLayout {
  .fsStyleOneThird {
    float: none;
  }

  .fsStyleTwoThirds {
    float: none;

    > .fsDiv {
      padding-left: 0;
      padding-right: 0;
      float: none;
    }

    > .fsTwoColumnLayout {
      @include breakpoint($bp-create-columns) {
        @include margin-x($gutter * -1);
      }
    }
  }  
}

// Wide Right and Elephant Left layouts mimic left banner size and behavior
// ========================================================================

.fsTwoColumnWideRightLayout,
.fsElephantLeftLayout {
  margin-left: 0;
  margin-right: 0;

  @include breakpoint($layout-display-sidebar) {
    display: flex;
    flex-wrap: wrap;
  }

  .fsStyleOneThird {
    width: 100%;
    margin-bottom: $gutter;

    @include breakpoint($layout-display-sidebar) {
      padding-left: 0;
      padding-right: $left-banner-padding-right-tablet;
      width: $lb-width-tablet;
      margin-bottom: 0;
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      padding-right: $left-banner-padding-right-desktop;
      width: $lb-width-desktop;
    }
  }

  .fsStyleTwoThirds {
    width: 100%;

    @include breakpoint($layout-display-sidebar) {
      padding-left: 0;
      padding-right: 0;
      width: calc(100% - #{$lb-width-tablet});
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      width: calc(100% - #{$lb-width-desktop});
    }
  }
}

//cleanup for when banners are applied to page
.fsHasTwoColumnWideRightLayout,
.fsHasElephantLeftLayout {

  &.fsHasRightBanner {
    #fsPageContent {
      width: 100%;

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$rb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$rb-width-desktop});
      }
    }

    #fsBannerRight {
      width: 100%;
      padding-left: 0;
      margin-top: $gutter;

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
        margin-top: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-left: $right-banner-padding-left-desktop;
        width: $rb-width-desktop;
      }    
    }

    .fsStyleOneThird {
      @include breakpoint($layout-display-sidebar) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }

      @include breakpoint($layout-sidebar-full-tablet) {
        padding-right: $left-banner-padding-right-desktop;
        width: $lb-width-desktop;
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-right: $left-banner-padding-right-desktop;
        width: $lb-width-desktop;
      }

    }

    .fsStyleTwoThirds {
      width: 100%;

      @include breakpoint($layout-display-sidebar) {
        width: calc(100% - #{$lb-width-tablet});
        
      }

      @include breakpoint($layout-sidebar-full-tablet) {
        width: calc(100% - #{$lb-width-desktop});
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$lb-width-desktop});
      }
    }
  }

  &.fsHasLeftBanner {
    #fsPageContent {
      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$lb-width-desktop});
      }
    }

    #fsBannerLeft {
      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
        margin-top: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-right: $left-banner-padding-right-desktop;
        width: $lb-width-desktop;
      }    
    }

    .fsStyleOneThird {
      width: 100%;
      padding-right: 0;
      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }
    }

    .fsStyleTwoThirds {
      width: 100%;
      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$lb-width-tablet});
      }
    }
  }

  &.fsHasRightBanner.fsHasLeftBanner {

    #fsBannerLeft {
      @include breakpoint($layout-display-sidebar) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }  
    }

    #fsPageContent {
      width: 100%;
      margin-bottom: 0;

      @include breakpoint($layout-display-sidebar) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$rb-width-tablet + $lb-width-tablet});
      }
    }

    #fsBannerRight {
      width: 100%;
      padding-left: 0;
      margin-top: $gutter;
      margin-bottom: 0;

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
        margin-top: 0;
      } 
    }

    .fsStyleOneThird {
      margin-bottom: $gutter;
      width: 100%;

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
        margin-bottom: 0;
      }
    }

    .fsStyleTwoThirds {
      margin-bottom: $gutter;
      width: 100%;
      margin-bottom: 0;

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$lb-width-tablet});
      }
    }
  }
}

// Wide Left & Elephant Right layouts mimic right banner size and behavior
// =======================================================================

.fsTwoColumnWideLeftLayout,
.fsElephantRightLayout {
  margin-left: 0;
  margin-right: 0;

  @include breakpoint($layout-display-sidebar) {
    display: flex;
    flex-wrap: wrap;
  }

  .fsStyleOneThird {
    width: 100%;
    margin-bottom: $gutter;

    @include breakpoint($layout-display-sidebar) {
      padding-left: $right-banner-padding-left-tablet;
      padding-right: 0;
      width: $rb-width-tablet;
      margin-bottom: 0;
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      padding-left: $right-banner-padding-left-desktop;
      width: $rb-width-desktop;
    }
  }

  .fsStyleTwoThirds {
    width: 100%;

    @include breakpoint($layout-display-sidebar) {
      width: calc(100% - #{$rb-width-tablet});
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint($layout-sidebar-full-tablet) {
      width: calc(100% - #{$rb-width-desktop});
    }
  }
}

//cleanup for when banners are applied to page
.fsHasTwoColumnWideLeftLayout,
.fsHasElephantRightLayout {

  &.fsHasLeftBanner {
    #fsPageContent {
      width: 100%;

      @include breakpoint($layout-display-sidebar) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-tablet) {
        width: calc(100% - #{$lb-width-desktop});
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$lb-width-desktop});
      }
    }

    #fsBannerLeft {
      width: 100%;
      padding-left: 0;
      margin-bottom: $gutter;

      @include breakpoint($layout-display-sidebar) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      }

      @include breakpoint($layout-sidebar-full-tablet) {
        padding-right: $left-banner-padding-right-desktop;
        width: $lb-width-desktop;
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
        margin-bottom: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-right: $left-banner-padding-right-desktop;
        width: $lb-width-desktop;
      }    
    }

    .fsStyleOneThird {
      width: 100%;
      padding-left: 0;

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-left: $right-banner-padding-left-desktop;
        width: $rb-width-desktop;
      }

    }

    .fsStyleTwoThirds {
      margin-bottom: $gutter;
      width: 100%;

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$rb-width-tablet});
        margin-bottom: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$rb-width-desktop});
      }
    }
  }

  &.fsHasRightBanner {
    #fsPageContent {
      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$rb-width-tablet});
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$rb-width-desktop});
      }
    }

    #fsBannerRight {
      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
        margin-top: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-left: $right-banner-padding-left-desktop;
        width: $rb-width-desktop;
      }    
    }

    .fsStyleOneThird {
      width: 100%;
      padding-left: 0;
      @include breakpoint($layout-siderbar-condensed-desktop) { //800px
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
      }
    }

    .fsStyleTwoThirds {
      width: 100%;
      @include breakpoint($layout-siderbar-condensed-desktop) { //800px
        width: calc(100% - #{$rb-width-tablet});
      }
    }
  }

  &.fsHasRightBanner.fsHasLeftBanner {

    #fsBannerRight {
      width: 100%;
      padding-left: 0;
      margin-top: $gutter;
      margin-bottom: 0;

      @include breakpoint($layout-siderbar-condensed-desktop) { //800px
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
        margin-top: 0;
      }  
    }

    #fsPageContent {
      width: 100%;
      margin-bottom: 0;

      @include breakpoint($layout-display-sidebar) {
        width: calc(100% - #{$lb-width-tablet});
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: calc(100% - #{$rb-width-tablet + $lb-width-tablet});
      }
    }

    #fsBannerLeft {
      width: 100%;
      padding-left: 0;
      margin-bottom: $gutter;

      @include breakpoint($layout-display-sidebar) { //600px
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
        margin-bottom: 0;
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        padding-right: $left-banner-padding-right-tablet;
        width: $lb-width-tablet;
      } 
    }

    .fsStyleOneThird {
      margin-bottom: 0;
      @include breakpoint($layout-sidebar-full-tablet) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: 100%;
        padding-left: 0;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        padding-left: $right-banner-padding-left-tablet;
        width: $rb-width-tablet;
      }
    }

    .fsStyleTwoThirds {
      margin-bottom: 0;
      @include breakpoint($layout-sidebar-full-tablet) {
        width: calc(100% - #{$rb-width-tablet});
      }

      @include breakpoint($layout-siderbar-condensed-desktop) {
        width: 100%;
      }

      @include breakpoint($layout-sidebar-full-desktop) {
        width: calc(100% - #{$rb-width-tablet});
      }
    }
  }
}


// ================================
// 1c-2c-1rc
// ================================


// ================================
// 1lc-1c-2c
// ================================