// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent default layout */

// ==========================================
// Constituent Defaults
// ==========================================

// may require separate gutter settings depending on design
// all spacing based on $const-gutter and can be updated here
$const-gutter: $gutter !default;

//form fields & separation for search
$const-border: $input-border-style !default;

$const-bp-2-column: 600px !default;
$const-bp-3-column: 800px !default;
$const-bp-4-column: 1000px !default;

.fsConstituent {
  word-break: break-word;

  .fsElementPagination {
    margin: $const-gutter 0;
  }

  .fsPhoto,
  .fsProfileImage {
    &[style*="background-image"] {
      background-size: cover;
      background-position: center;
      display: inline-block;

      > img {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .fsFullName {}

  .fsClassOf {}

  .fsTitles {}

  .fsDegrees {}

  .fsRoles {}

  .fsEmail {}

  .fsStatus {}

  .fsBiography {}

  .fsViewProfileLink {}

  &[class*="fsThumbnailAlign"] {
    .fsPhoto,
    .fsProfileImage {
      img {
        float: none;
        margin: 0;
      }
    }    
  }

  &.fsThumbnailAlignLeft {
    .fsPhoto,
    .fsProfileImage {
      float: left;
      padding-right: 0;
    }
  }

  &.fsThumbnailAlignRight {
    .fsPhoto,
    .fsProfileImage {
      float: right;
      padding-left: 0;
    }
  }
}

// this affects both profile AND modal
.fsConstituentProfile {
  position: relative;
  > div, 
  > h3 {
    margin-bottom: $const-gutter;
  }

  > div {
    > strong {
      display: block;
    }
  }
}
