// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent default layout */

// =================================================
// Constituent Modal/Dialog Popup
// *note: html variations & class structure changes
// =================================================

.fsConstituent {

  &.fsDialog {

    .fsProfileImage {
      &:first-child {
        margin-top: 1em;
      }

      img {
        float: none;
        margin: 0;
      }
    }
  }

  .fsDialogContent {
    padding-top: 45px;
  }

  .fsPhoto {}

  .fsFullName {}

  .fsClassOf {}

  .fsTitles {}

  .fsDegrees {}

  .fsRoles {}

  .fsEmail {}

  .fsStatus {}

  .fsBiography {}

  .fsViewProfileLink {}

}

//thumbnail alignment fixes in popup

.fsElementDialog {
  .fsHasPhoto {
    &.fsThumbnailAlignLeft,
    &.fsThumbnailAlignRight {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsProfileImage {
          margin: 0 0 $const-gutter 0;
          padding: 0;
          float: none;
        }

        > div:not(.fsProfileImage), 
        > h3 {
          float: none;
          width: 100%;
          @include breakpoint(800px) {
            padding: 0;
          }
        }

        > h3 {
          &:first-child {
            padding: 0;
          }
        }
      }

      &.fsThumbnailLarge {
        .fsProfileImage {
          float: none;
          @include breakpoint(600px) {
            max-width: 40%;
          }
        }
      }

      &.fsThumbnailSmall {
        .fsProfileImage {
          @include breakpoint(600px) {
            max-width: 25%;
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsProfileImage {
            @include breakpoint(800px) {
              max-width: 128px;
            }
          }        
        }
      }

      .fsProfileSection {
        &:after {
          display: none;
        }
      }

      .fsProfileSectionData {
        float: none;
        display: block;
        width: 100%;

        > div {
          clear: none;
        }
      }

    }

    &.fsThumbnailAlignLeft {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsProfileImage {
          @include breakpoint(600px) {
            margin-right: $const-gutter;
            float: left;
          }
        }    
      }

      &.fsThumbnailLarge {
        > div:not(.fsProfileImage), 
        > h3 {
          @include breakpoint(800px) {
            padding-left: calc(40% + #{$const-gutter});
          }
        }
      }

      &.fsThumbnailSmall {
        > div:not(.fsProfileImage), 
        > h3 {
          @include breakpoint(800px) {
            padding-left: calc(25% + #{$const-gutter});
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-left: 128px + $const-gutter;
            }
          }       
        }
      }

    }

    &.fsThumbnailAlignRight {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsProfileImage {
          @include breakpoint(600px) {
            margin-left: $const-gutter;
            float: right;
          }
        }       
      }

      &.fsThumbnailLarge {
        > div:not(.fsProfileImage), 
        > h3 {
          @include breakpoint(800px) {
            padding-right: calc(40% + #{$const-gutter});
          }
        }
      }

      &.fsThumbnailSmall {
        > div:not(.fsProfileImage), 
        > h3 {
          @include breakpoint(800px) {
            padding-right: calc(25% + #{$const-gutter});
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-right: 128px + $const-gutter;
            }
          }        
        }
      }
    }
  }
}