// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent profile */

// ================================
// Profile
// ================================

.fsConstituent {
  &.fsProfile {
    .fsFullName {
      margin-bottom: $const-gutter;
    }

    //thumbnail alignment fixes

    &.fsThumbnailAlignLeft,
    &.fsThumbnailAlignRight {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsHasPhoto { 

          .fsProfileImage {
            margin: 0 0 $const-gutter 0;
            padding: 0;
            float: none;
          }

          > div:not(.fsProfileImage), 
          > h3 {
            float: none;
            width: 100%;
            @include breakpoint(800px) {
              padding: 0;
            }
          }

          > h3 {
            &:first-child {
              padding: 0;
            }
          }
        }
      }

      &.fsThumbnailLarge {
        .fsHasPhoto {
          .fsProfileImage {
            float: none;
            @include breakpoint(600px) {
              max-width: 40%;
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            .fsProfileImage {
              @include breakpoint(1000px) {
                max-width: 512px;
              }
            }
          }          
        }
      }

      &.fsThumbnailSmall {
        .fsHasPhoto { 
          .fsProfileImage {
            @include breakpoint(600px) {
              max-width: 25%;
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            .fsProfileImage {
              @include breakpoint(800px) {
                max-width: 128px;
              }
            }
          }          
        }
      }

      .fsProfileSection {
        &:after {
          display: none;
        }
      }

      .fsProfileSectionData {
        float: none;
        display: block;
        width: 100%;

        > div {
          clear: none;
        }
      }

    }

    &.fsThumbnailAlignLeft {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsHasPhoto { 
          .fsProfileImage {
            @include breakpoint(600px) {
              margin-right: $const-gutter;
              float: left;
            }
          }  
        }      
      }

      &.fsThumbnailLarge {
        .fsHasPhoto {
          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-left: calc(40% + #{$const-gutter});
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            > div:not(.fsProfileImage), 
            > h3 {
              @include breakpoint(1000px) {
                padding-left: 512px + $const-gutter;
              }
            }
          }          
        }
      }

      &.fsThumbnailSmall {
        .fsHasPhoto { 

          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-left: calc(25% + #{$const-gutter});
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            > div:not(.fsProfileImage), 
            > h3 {
              @include breakpoint(800px) {
                padding-left: 128px + $const-gutter;
              }
            }
          }          
        }
      }

    }

    &.fsThumbnailAlignRight {

      &.fsThumbnailLarge, 
      &.fsThumbnailSmall {
        .fsHasPhoto { 
          .fsProfileImage {
            @include breakpoint(600px) {
              margin-left: $const-gutter;
              float: right;
            }
          }  
        }      
      }

      &.fsThumbnailLarge {
        .fsHasPhoto {
          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-right: calc(40% + #{$const-gutter});
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            > div:not(.fsProfileImage), 
            > h3 {
              @include breakpoint(1000px) {
                padding-right: 512px + $const-gutter;
              }
            }
          }          
        }
      }

      &.fsThumbnailSmall {
        .fsHasPhoto { 
          > div:not(.fsProfileImage), 
          > h3 {
            @include breakpoint(800px) {
              padding-right: calc(25% + #{$const-gutter});
            }
          }
        }

        &.fsThumbnailSquare, 
        &.fsThumbnailRectangle {
          .fsHasPhoto { 
            > div:not(.fsProfileImage), 
            > h3 {
              @include breakpoint(800px) {
                padding-right: 128px + $const-gutter;
              }
            }
          }          
        }
      }

    }
  }
}

.fsProfileImage {
  margin-bottom: $const-gutter;
  img {
    display: block;
  }
}

.fsProfileSection {
  margin-bottom: $const-gutter;

  h4 {
    margin: 0 0 1rem 0;
  }
}

.fsProfileSectionData {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  &.fsTitle {
    font-weight: inherit;
    font-size: $body-font-size;
    line-height: $body-line-height;
  }

  > div {
    width: auto;
    float: none;
    display: block;
  }

  &.fsStyleHalf {
    width: 100%;
    @include breakpoint($const-bp-2-column) {
      width: 50%;
    }
  }
}

.fsProfileSectionSpecialData {
  > div {
    width: auto;
    float: none;
    display: block;    
  }

  div[id^="fsEmail"] {
    display: inline-block;
  }
}

.fsProfileSectionFieldName,
.fsEmail > div:first-child {
  font-weight: $bold;
}


