// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _filter.scss - src/sass/modules/tools/posts - Calendar Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/calendar

// ================================================================
// Tools (.fsToolsElement) - Legend Subtype (.fsLegend)
// associated with: 
// - Calendar Tools Element (.fsCalendarTools)
// ================================================================

.fsLegend {
  .fsElementControls {
    margin-bottom: 5px;
    label {
      input {
        &:checked {
          + span {
            background: $s2;
            color: lighten($s2, 100%);
          }
        }
        + span {
          color: $s2;
          background: lighten($s2, 70%);
        }
      }
    }
  }

  .fsUpdateFilters {}

  &.fsCalendarToolsElement {}
}

.fsCalendarGroups {
  > li { }
}

.fsCalendarGroupName {
  &:before { }
  &.fsStyleExpandable {}
  &.fsStateExpanded {
    &:before { }
  }
}

.fsStyleExpandableContainer {
  button {
    &.fsSelectAll {

    }
    &:hover,
    &:focus { }
  }

  .fsToolsList {
    > li {
      label {
        input.fsCalendarFilterInput { }
        span {
          &.fsElementEventColorIcon { }
        }
      }
    }
  }
}

