// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/content

// define header font/line-height/margin in _config-type.scss

// ================================
// Font Includes
// ================================

@font-face {
  font-family: 'IcoMoon';
  src: url('#{$font-dir}icomoon.eot');
  src: url('#{$font-dir}icomoon.eot?#iefix') format('embedded-opentype'),
       url('#{$font-dir}icomoon.woff2') format('woff2'),
       url('#{$font-dir}icomoon.woff') format('woff'),
       url('#{$font-dir}icomoon.ttf') format('truetype'),
       url('#{$font-dir}icomoon.svg#IcoMoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

// ================================
// Headings
// ================================

// fsTitle Heading Style
// ================================

%fsTitle {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
}

// Default Heading Style
// ================================
@mixin default-heading {
  margin-top: 0;
  font-weight: normal;
}


// Heading One 1
// ================================

@mixin h1($margin: true) {
  @include default-heading;
  font-size: $h1-size;
  line-height: $h1-line-height;

  @if $margin {
    margin-bottom: $h1-margin;
  }

}

h1 {
  @include h1;
}


// Heading Two 2
// ================================

@mixin h2($margin: true) {
  @include default-heading;
  font-size: $h2-size;
  line-height: $h2-line-height;

  @if $margin {
    margin-bottom: $h2-margin;
  }

}

h2 {
  @include h2;
}


// Heading Three 3
// ================================

@mixin h3($margin: true) {
  @include default-heading;
  font-size: $h3-size;
  line-height: $h3-line-height;

  @if $margin {
    margin-bottom: $h3-margin;
  }

}

h3 {
  @include h3;
}


// Heading Four 4
// ================================

@mixin h4($margin: true) {
  @include default-heading;
  font-size: $h4-size;
  line-height: $h4-line-height;

  @if $margin {
    margin-bottom: $h4-margin;
  }

}

h4 {
  @include h4;
}


// Heading Five 5
// ================================

@mixin h5($margin: true) {
  @include default-heading;
  font-size: $h5-size;
  line-height: $h5-line-height;

  @if $margin {
    margin-bottom: $h5-margin;
  }

}

h5 {
  @include h5;
}


// Heading Six 6
// ================================

@mixin h6($margin: true) {
  @include default-heading;
  font-size: $h6-size;
  line-height: $h6-line-height;

  @if $margin {
    margin-bottom: $h6-margin;
  }

}

h6 {
  @include h6;
}

// ================================
// Paragraph, Horizontal Rule
// ================================

p {
  margin: 0 0 $gutter;

  #{$notComposeMode} & {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

hr {
  margin: 0 auto $gutter;
}

// ================================
// Anchors
// ================================

a {
  text-decoration: none;
  color: $a1;
  transition:
    background .3s,
    color .3s;

  &:hover,
  &:focus {
    color: $a2;
  }

}


// ================================
// Lists
// ================================

ul,
ol {
  margin-top: 0;
  padding-left: $gutter;
}

// If the design has pretty little icons, use ol to style them up
ol {

  li {

    &:before {}

  }

}


// ================================
// Tables
// ================================
%table-styled,
table.styled {
  margin-bottom: ($gutter);
  width: 100%;
  overflow-x: auto;
  display: block;

  td {
    padding: ($gutter/2) $gutter;
    background: rgba(#000, .05);
  }

  tr {
    &:nth-of-type(odd) {
      td {
        background-color: rgba(#000, .1);
      }
    }
  }

  th,
  td {
    vertical-align: top;
    border-bottom: none;
  }

  th {
    padding: ($gutter/2) $gutter;
    text-align: left;
    background: $m1;
    color: #fff;
  }
}



// ================================
// Media
// ================================

img,
canvas,
video,
svg {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
  max-width: 100%;
}
