// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _main.scss - src/sass/modules/search/ - main search import */

// this partial imports all related search types and is called in the main.scss file
// example: http://coderepo.demo.finalsite.com/production/search

// edit the src/sass/modules/search/_custom.scss for your site

// resetting some ugliness:

.fsSearch{

	form.gsc-search-box-tools{ //form that holds all the weirdness
		margin-bottom: 0;
		overflow: hidden;
		font-size: inherit;
		
		table{ //remove border from all tables
			border: 0;
		}
		
		table,
		tbody,
		tr,
		td{
			// display: block;
		}
		
		> table.gsc-search-box{
			margin-bottom: 0;
			position: relative;
		}
		
		td.gsib_a{
			padding: 0;
		}
		
		td.gsib_b{
			display: none !important;
		}
		
		table.gsc-branding{
			display: none;
		}
	}
}

@import
	'custom',
  'search-box',
  'search-results';