// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics popup dialog box */

// ================================
// Event Pop Up Modal/Dialog Box
// ================================

.fsAthleticsEvent {
	&.fsDialog {
		margin: auto;

		.fsAthleticsTitle {
			@include h3;
		}

		.fsAthleticsLabel {
			font-weight: bold;
			margin-top: $gutter;
		}

		.fsAthleticsAddress {
			> div {
				margin-top: ($gutter/2);
			}
		}
	}
}