// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// Resource Element List Nav
// ================================

.fsResourceElement {
  &.fsListNav {
	  @if $divide-fsListNav-all == false {
      @if $divide-fsListNav-resources == true {
      	.fsStyleDefaultList {
	      	.fsListItem {
	        	@include nav-list-divide-styling;
	        }
	      }
      }
    }

    .fsResourceCollectionName {
      + nav {
        margin-top: $gutter;
      }
    }

    .fsTitle {
      font-size: $body-font-size;
      line-height: $body-line-height;
      font-weight: normal;
    }
  }
}
