// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Breadcrumbs
// ================================

.fsBreadcrumb {

  @if $style-nav-element == true {
    ul {
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 0;
        }        
      }
    }
  }  @else {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {}

        span {}
      }
    }
  }
}