// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// this section is for styling the collapsable nav
// it is only applicable if $nav-sub-collapses is set to true in your _config-site.scss partial
// each mixin is used for styling a particular section ie:
// collapsed nav title, collapsed nav icon and the collapsed nav content area
// these are then called in the last mixin 'collapse-nav-section' which is applied in the '_secondary.scss' partial

// ================================
// Collape Nav Title
// ================================

$section-title: (
  background: $m2,
  background--hover: lighten($m1,20%),
  background--active: $m2,

  color: $s1,
  color--hover: $s1,
  color--active: $s1,

  open--icon: "+",
  close--icon: "-",
);

// set to false if there is no icon in your design
$section-title-icon: true;


// ================================
// Collapse Nav Content
// ================================

$section-content: (
  background-content: $s1,
  background--active-section: darken($s1, 10%),
  background: transparent,
  background--hover: lighten($s1,20%),

  background--current: darken($s1, 15%),
  background--current-hover: darken($s1, 20%),

  background--ancestor: transparent,
  background--ancestor-hover: darken($s1, 15%),

  color: $a1,
  color--hover: $a2,

  color--current: $a2,
  color--current-hover: $m2,

  color--ancestor: $a1,
  color--ancestor-hover: $m1,

  link-padding-x: $gutter,
  link-padding-y: 10px,
  link-padding-increment: 10px,
);

//styling for collapsed nav title
@mixin collapseNavTitle {
  position: relative;
  @include h5;
  margin-bottom: 0;
  display: block;
  font-size: $body-font-size;
  padding: $gutter / 2 $gutter;
  color: map-get($section-title, color);
  background-color: map-get($section-title, background);
  transition: .3s;

  &:hover {
    background-color: map-get($section-title, background--hover);
    color: map-get($section-title, color--hover);
  }
}

//styling for collapsed nav title icon
@mixin collapseNavTitleIcon {
  position: relative;
  padding-right: $gutter * 2;

  &:after {
    content: map-get($section-title, open--icon);
    //add your styles for both open/close icon here
    line-height: 1;
    position: absolute;
    margin: 0;
    @include y-center;
    right: $gutter;
  }
}

//styling for collapsed nav content
@mixin collapseNavContent {
  position: relative;
  display: block;
  background-color: map-get($section-content, background-content);

  // General Styles
  // ================================
  ul {

    li {

      a {
        display: block;
        padding: map-get($section-content, link-padding-y) map-get($section-content, link-padding-x);
        color: map-get($section-content, color);
        background: map-get($section-content, background); 

        &:hover,
        &:focus {
          color: map-get($section-content, color--hover);
          background: map-get($section-content, background--hover); 
        }
      }

      &.fsNavCurrentPage {
        > a { 
          color: map-get($section-content, color--current);
          background: map-get($section-content, background--current); 

          &:hover, 
          &:focus {
            color: map-get($section-content, color--current-hover);
            background: map-get($section-content, background--current-hover); 
          }
        }
      }

      &.fsNavCurrentPageAncestor {
        background: map-get($section-content, background--active-section);
        > a { 
          color: map-get($section-content, color--ancestor);
          background: map-get($section-content, background--ancestor); 

          &:hover, 
          &:focus {
            color: map-get($section-content, color--ancestor-hover);
            background: map-get($section-content, background--ancestor-hover); 
          }
        }
      }
    }
  }

  .fsNavLevel1 {
    > li {
      > a {
        padding-left: map-get($section-content, link-padding-x);
      }
    }
  }

  // Second Level
  // ================================
  .fsNavLevel2 {
    > li {
      > a {
        padding-left: map-get($section-content, link-padding-increment) + map-get($section-content, link-padding-x);
      }
    }
  }

  // Third Level
  // ================================
  .fsNavLevel3 {
    > li {
      > a {
        padding-left: (map-get($section-content, link-padding-increment) * 2) + map-get($section-content, link-padding-x);
      }
    }
  }

  // Fourth Level
  // ================================
  .fsNavLevel4 {
    > li {
      > a {
        padding-left: (map-get($section-content, link-padding-increment) * 3) + map-get($section-content, link-padding-x);
      }
    }
  }

  // Fifth Level
  // ================================
  .fsNavLevel5 {
    > li {
      > a {
        padding-left: (map-get($section-content, link-padding-increment) * 4) + map-get($section-content, link-padding-x);
      }
    }
  }
}

//calling all collapsed nav styling mixins here
@mixin collapse-section-nav {

  &:last-child {
    // margin-bottom: $gutter;
  }

  > header {
    display: block;
    position: relative;

    .fsElementTitle {
      @include collapseNavTitle;
      cursor: pointer;

      @include breakpoint($bp-show-secondary-nav) {
        cursor: default;
      }

      @if $section-title-icon == true {
        @include collapseNavTitleIcon;
      }
    }
  }

  > .fsElementContent {
    @include collapseNavContent;
  }

  &.active-nav {
    > header {
    .fsElementTitle {
      background-color: map-get($section-title, background--active);
      color: map-get($section-title, color--active);

      @if $section-title-icon == true {
        &:after {
          content: map-get($section-title, close--icon);
        }
      }
    }
    }
  }
}

