// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Drawer Ribbon
// ================================

// This element is created via js in global_vars.js
// This element can also be used to container other triggers such as search
.drawer-ribbon {
  position: relative;
  height: 50px;

  @include breakpoint($bp-hide-off-canvas) {
    display: none;
  }

}

  // Drawer Trigger
  // ================================

  .drawer-trigger {
    // Change the height of each little bar
    // This also affects the space in between
    $height: 2;
    // Change the color of each little bar
    $color: #fff;
    @include cover(true);
    @include button-reset(true);
    max-width: 50px;

    // Danger Zone
    // xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      height: $height + px;
      width: 50%;
      content: '';
      background: $color;
    }

    &:before {
      margin-top: ce($height * -2);
      transform: translate(-50%, -50%);
      transition:
        margin-top .3s,
        transform .3s;
    }

    &:after {
      box-shadow: 0 ce($height * 2) 0 0 $color;
      transform: translate(-50%, -50%);
      transition:
        box-shadow .3s,
        transform .3s;
    }


    // Active Trigger State
    // ================================

    .drawer-is-active & {

      &:before {
        margin-top: 0;
        transform:
          translate(-50%, -50%)
          rotate(-45deg);
      }

      &:after {
        box-shadow: none;
        transform:
          translate(-50%, -50%)
          rotate(45deg);
      }

    }

  }


// ================================
// Off Canvas
// ================================

// This functionality works with src/js/include/navigation.js
// Caution: scrollbar will appear if fsMenu is over 100vh. 
.fsMenu {
  // helpers - ui-pattern
  @include off-canvas(ltr);
  // traditionally the height of the drawer ribbon
  top: ce(0);
  min-height: 100%;
  max-width: ce(600);
  background: $d1;

  .drawer-is-active & {
    // helpers - ui-pattern
    @include off-canvas-active;
  }

}
