// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Sub Navigation
// ================================

$nav-sub-content: (
  background: transparent,
  background--hover: $s1,
  background--active-section: lighten($s1, 2%),

  background--current: transparent,
  background--current-hover: $s1,
  background--ancestor: transparent,
  background--ancestor-hover: $s1,

  color: $a1,
  color--hover: $a2,

  color--current: $m1,
  color--current-hover: $m2,
  color--ancestor: $a2,
  color--ancestor-hover: $a1,

  link-padding-x: 10px,
  link-padding-y: 10px,
  link-padding-increment: 10px,
) !default;

.nav-sub {

  @if $nav-sub-collapses {

    @media screen and (max-width: $bp-show-secondary-nav - 1) {
      @include collapse-section-nav;
    }

    display: none;

    @include breakpoint($bp-show-secondary-nav) {
      display: block;
    }

    > .fsElementContent {
      height: auto;
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;

      @include breakpoint($bp-show-secondary-nav) {
        max-height: 9999px;
        visibility: visible;
        opacity: 1;
      }      
    }

    &.active-nav {
      > .fsElementContent {
        max-height: 9999px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .fsHeader & {
    display: block;
    @include breakpoint($bp-show-secondary-nav) {
      display: none;
    }
  }

  &.nav-sub-empty {
    display: none !important;
  }


  // General Styles
  // ================================
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {

      a {
        display: block;
        padding: map-get($nav-sub-content, link-padding-y) map-get($nav-sub-content, link-padding-x);
        color: map-get($nav-sub-content, color);
        background: map-get($nav-sub-content, background); 

        &:hover,
        &:focus {
          color: map-get($nav-sub-content, color--hover);
          background: map-get($nav-sub-content, background--hover); 
        }
      }

      &.fsNavCurrentPage {
        > a { 
          color: map-get($nav-sub-content, color--current);
          background: map-get($nav-sub-content, background--current); 

          &:hover, 
          &:focus {
            color: map-get($nav-sub-content, color--current-hover);
            background: map-get($nav-sub-content, background--current-hover); 
          }
        }
      }

      &.fsNavCurrentPageAncestor {
        background: map-get($nav-sub-content, background--active-section);
        > a { 
          color: map-get($nav-sub-content, color--ancestor);
          background: map-get($nav-sub-content, background--ancestor); 

          &:hover, 
          &:focus {
            color: map-get($nav-sub-content, color--ancestor-hover);
            background: map-get($nav-sub-content, background--ancestor-hover); 
          }
        }
      }
    }
  }


  // First Level
  // ================================
  .fsNavLevel1 {
    padding-left: 0;

    @if $nav-sub-collapses {
      @media screen and (max-width: $bp-show-secondary-nav - 1) {
        padding-top: map-get($nav-sub-content, link-padding-y);
        padding-bottom: map-get($nav-sub-content, link-padding-y);
      }
    }

    > li {
      border-bottom: $default-border-style;

      &:first-child {}

      &:last-child { 
        border-bottom: none; 
      }

      > a { }
    }
  }

  // Second Level
  // ================================
  .fsNavLevel2 {
    > li {
      > a {
        padding-left: map-get($nav-sub-content, link-padding-increment) + map-get($nav-sub-content, link-padding-x);
      }
    }
  }

  // Third Level
  // ================================
  .fsNavLevel3 {
    > li {
      > a {
        padding-left: (map-get($nav-sub-content, link-padding-increment) * 2) + map-get($nav-sub-content, link-padding-x);
      }
    }
  }

  // Fourth Level
  // ================================
  .fsNavLevel4 {
    > li {
      > a {
        padding-left: (map-get($nav-sub-content, link-padding-increment) * 3) + map-get($nav-sub-content, link-padding-x);
      }
    }
  }

  // Fifth Level
  // ================================
  .fsNavLevel5 {
    > li {
      > a {
        padding-left: (map-get($nav-sub-content, link-padding-increment) * 4) + map-get($nav-sub-content, link-padding-x);
      }
    }
  }
}
