// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ==========================================================================
// Social navigation
// ==========================================================================

$social-icons: (
  facebook: $icon-facebook,
  instagram: $icon-instagram,
  linkedin: $icon-linkedin,
  pinterest: $icon-pinterest,
  tumblr: $icon-tumblr,
  twitter: $icon-twitter,
  vimeo: $icon-vimeo,
  vine: $icon-vine,
  youtube: $icon-youtube,
  googleplus: $icon-googleplus,
  wechat: $icon-wechat,
  flickr: $icon-flickr,
  wordpress: $icon-wordpress,
  rss: $icon-rss
) !default;

$social-colors: (
  facebook: #3b5998,
  instagram: #3f729b,
  linkedin: #0077b5,
  pinterest: #cc2127,
  tumblr: #35465c,
  twitter: #55acee,
  vimeo: #1ab7ea,
  vine: #00b488,
  youtube: #cd201f,
  googleplus: #db4f46,
  wechat: #37bf21,
  flickr: #2090d9,
  wordpress: #0f74a8,
  rss: #f26522
) !default;

$social-circles: true;

.nav-social {
  .fsNavLevel1 {
    @include list-reset;
    font-size:0;
    li {
      display:inline-block;
      &:not(:last-child) {
        margin-right:10px;
      }
    }
    @each $name, $icon in $social-icons {
      [href*='#{$name}'] {
        &:before {
          @include font-icon('#{$icon}');
        }
      }
    }
    @each $name, $color in $social-colors {
      [href*='#{$name}'] {
        &:hover,
        &:focus {
          @if $social-circles {
            background: $color;
            border-color:$color;
            &:before {
              color: #fff;
            }
          }
          @else {
            &:before {
              color:$color;
            }
          }
        }
      }
    }

    a {
      display:block;
      $circumference: 30px !default;
      @if $social-circles {
        position: relative;
        border: 1px solid $m2;
        background:#fff;
        height: $circumference;
        width: $circumference;
        border-radius: 100%;
      }
      &:before {
        color: $m2;
        font-size:$body-font-size;
        transition: 0.3s all;
        display:block;
        @if $social-circles {
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%, -50%);
        }
      }
    }
  }
}

//special case for Google plus URLs
.nav-social .fsNavLevel1 [href*='plus.google.com']{
  &:before {
    @include font-icon( map-get($social-icons, googleplus ) );
  }
  &:hover,
  &:focus {
    @if $social-circles {
      background: map-get($social-colors, googleplus );
      border-color: map-get($social-colors, googleplus );
      &:before {
        color: #fff;
      }
    }
    @else {
      &:before {
        color: map-get($social-colors, googleplus );
      }
    }
  }
}