// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _grid.scss - src/sass/modules/calendar/grid.scss - calendar grid */

// this partial determines how the calendar grid will look
// mobile is dependent on calendarMobile.js which already exists in src/js/plugins
// also contained here is the calendar & category legend
// example: http://coderepo.demo.finalsite.com/production/calendar/grid


// ================================
// Grid
// ================================

.fsCalendarEventGrid {

  // Month Selector
  // ================================

  .fsCalendarMonthBrowser {

    button { //left and right arrows

      &.fsCalendarPrevMonth {}

      &.fsCalendarNextMonth {}
    }

    > span {} //month name

  }


  // Weekday Headers
  // ================================

  .fsCalendarWeekdays {

    > span {}

  }


  // Individual Days
  // ================================

  .fsCalendarRow {}

  .fsCalendarDaybox {

    .fsCalendarInfo {
      > div {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .fsCalendarOutOfRange {}

    .fsCalendarToday {}

    .fsCalendarWeekendDayBox {}

    .fsCalendarDay {}

    .fsCalendarMonth {}

    .fsCalendarEventTitle {
      font-size: 1.1em;
      font-weight: bold;
      outline: 0;

      + div {
        margin-top: 5px;
      }
    }

    .fsCalendarDate {
      line-height: 1;
    }

  }//end day box

} //end grid selector

//with flexbox to fix height issues when moving browser in and out on non-mobile view
@include breakpoint(800px) {
  .fsCalendarEventGrid {
    .fsCalendarRow {
      display: flex;
      align-items: stretch;
    }

    .fsCalendarDaybox {
      height: auto!important;
      flex-grow: 1;
      &.fsCalendarWeekendDayBox {
        display: flex;
        flex-direction: column;
        
        >div {
          height: auto;
          flex-grow: 1;
        }
      }
    }
  }
}

// ================================
// Grid Control Bar 
// ================================

.fsCalendar.fsGrid .fsCalendarGridControlBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &:after {
    display: none;
  }

  > div {
    margin: 0;
  }

  .fsDisplayNavigation {
    margin-right: 10px;
  }

  .fsCalendarMonthBrowser {
    width: 100%;
    @include breakpoint(600px) {
      width: auto;
    }
  }

  .fsElementControls {
    margin: 10px 0;
    @include breakpoint(600px) {
      order: 3;
      margin: 0;
    }
  }

  .fsCalendarMonthYearPicker:not(.fsStateHidden) {
    z-index: 1;
  }
}

// ================================
// Grid Mobile 
// ================================

@media screen and (max-width: 799px) {

  .fsCalendar.fsGrid .fsCalendarEventGrid {
    width: 100%;
    margin: 0 auto;

    .fsCalendarMonthBrowser {
      margin: $gutter 0;
    }

    .fsCalendarRow {
      width: auto;
      display: inline;
    }

    .fsCalendarDaybox {
      width: 14.28%!important; // may change depending on settings in calendar element
      height: 45px!important;
      float: left;
      overflow: hidden!important;
      cursor: pointer;
      min-height: 0;
      position: relative;
      padding: 0;
      margin: 0;
      border: none;

      &.fsCalendarToday {
        background-color: rgba($m1, .15);
      }

      &.fsCalendarOutOfRange {
        background-color: rgba($m1, .05);
      }

      &.fsCalendarWeekendDayBox {
        border: none;
        >div {
          position: relative;
          min-height: 0;
          height: 25px;
          border: 1px solid #EDEDED;

          &.selected {
            background-color: rgba($m1, .25);
          }
        }
      }

      &.selected {
        background-color: rgba($m1, .25);
      }

      .fsCalendarDate {
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: translate(-50%, -50%);
        line-height: 1;
        font-size: 15px;
        margin-bottom: 0;
      }
    }

    .fsCalendarInfo {
      display: none;
    }

    //styling when weekend days are combined
    &.fsCalendarCombineWeekendDays {

      .fsCalendarRow {
        border-left: 1px solid #EDEDED;
        border-right: 1px solid #EDEDED;
        @include clear;
        display: block;

        &:first-child {
          border-top: 1px solid #EDEDED;
        }

        &:last-child {
          border-bottom: 1px solid #EDEDED;
        }
      }

      .fsCalendarDaybox {
        width: 16.666%!important;
        height: 50px !important;
        border: 1px solid #EDEDED;

        &.fsCalendarWeekendDayBox {
          border: none;
        }

        &.fsCalendarOutOfRange {
          display: block;
        }
      }
    }
  }

}// end max-width media query

#event-view {
  padding: $gutter;
  margin: $gutter auto 0;
    
  .fsCalendarDaybox {
    height: auto!important;

    > div {
      margin-bottom: $gutter;
    }
  }

  .fsCalendarEventTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.scroll-up {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;

  span {
    @include button;
    padding: $gutter / 2 $gutter;
  }

  + .fsCalendarLegend {
    margin-top: $gutter!important;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }

}



// ================================
// Calendar & Category Legend
// ================================

.fsElementEventColorIcon {
  display: inline-block;
}

.fsCalendar.fsGrid {

  .fsCalendarEventGrid {

    + .fsCalendarLegend {
      margin-top: $gutter * 2;
    }

  }

  .fsCalendarLegend {
    @include list-reset;

    h4 {
      margin-bottom: $gutter;
    }

    > ul {

      @include breakpoint($bp-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      > li {
        margin-left: 0;

        @include breakpoint($bp-medium) {
          width: 49%;
        }

        ul { }
      }
    }

    .fsElementEventColorIcon {
      vertical-align: baseline;
    }
  }
}