// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - common v0.0.1 */
/* Contains generic styles that apply to every element */

// ================================
// Element
// ================================

$element-bottom-margin: true;

.fsElement {
  
  @if $element-bottom-margin == true {
    margin-bottom: $gutter;
  } 

  &:last-child {
    margin-bottom: 0;
  }

  > header {}

  > .fsElementContent {}

  > footer {}
}

.fsElementHeaderContent {
  margin-bottom: $gutter;
}

.fsElementFooterContent {
  margin-top: $gutter;
}


// ================================
// Panel
// ================================

.fsPanel {
  @if $element-bottom-margin == true {
    margin-bottom: 0;
  }
}


// ================================
// generic title class
// ================================

.fsTitle {
  @extend %fsTitle;
}


// ================================
// generic input field class
// ================================

.fsStyleDefaultField {
  border: $input-border-style;
}
