// Documentation Reference - http://coderepo.demo.finalsite.com/production/element-subtypes/slideshow

/*! element - common - slideshow subtype v0.0.1 */
/* Contains generic styles that apply to every element slideshow subtype*/

// ================================
// Element Subtype - Slideshow
// ================================

$slideshow-pager: (
  pager-dot-size: 12px,
  color: rgba($d1, .25),
  color--hover: $d1,
  color--active: $d1,

  focus: 1px dashed rgba($d1, .25),
);


$slideshow-icon-arrows: false;
//if true arrow font icons are required in sass map
$slideshow-arrows: (
  color: $d1,
  color--hover: rgba($d1, .5),
  font-size-arrow: 45px,

  prev-arrow: '\f104', 
  next-arrow: '\f105',
);

.fsSlideshow {
  
  &.fsSlideshowVertical {
    .fsElementSlideshow[data-slides-to-show="1"] {
      article {
        padding-bottom: 0;
      }
    }
  }

  &.fsSlideshowHorizontal {
    .fsElementSlideshow[data-arrows*="true"] {
      padding-top: 0;
      padding-bottom: 0;
    }

    article {
      padding-bottom: 0;
    }
  }

  .fsNextButton,
  .fsPrevButton, {
    overflow: hidden;
    &:before {
      color: map-get($slideshow-arrows, color);
      font-size: map-get($slideshow-arrows, font-size-arrow);
      transition: .3s;
      display: inline-block;
      line-height: 1;
      width: auto;
      height: auto;
      position: absolute;

      @if $slideshow-icon-arrows == true {
        font-family: $font-icon;
        font-weight: normal;
      }
    }

    &.fsUpArrow,
    &.fsDownArrow {
      &:before {
        @if $slideshow-icon-arrows == true {
          top: auto;
          bottom: 0;
        }
      }
    }

    &.fsLeftArrow,
    &.fsRightArrow {
      &:before {
        @include y-center;
      }
    }

    &.fsLeftArrow {
      &:before {
        left: 0;
      }
    }

    &.fsRightArrow {
      &:before {
        right: 0;
      }   
    }

    &:hover,
    &:focus {
      &:before {
        color: map-get($slideshow-arrows, color--hover);
        transition: .3s;
      }
    }
  }

  .fsPrevButton {
    &:before {
      @if $slideshow-icon-arrows == true {
        content: map-get($slideshow-arrows, prev-arrow);
      }      
    }
  }

  .fsNextButton {
    &:before {
      @if $slideshow-icon-arrows == true {
        content: map-get($slideshow-arrows, next-arrow);
      }
    }
  }

  .fsPager {
    margin-bottom: 0;
    margin-top: $gutter;

    li {
      width: map-get($slideshow-pager, pager-dot-size);
      height: map-get($slideshow-pager, pager-dot-size);
      position: relative;
      vertical-align: middle;
      button {
        width: 100%;
        height: 100%;
        padding: 0;
        color: $d1;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: map-get($slideshow-pager, color);
          transition: .3s;
          opacity: 1;
        }

        &:hover,
        &:focus {
          &:before {
            background-color: map-get($slideshow-pager, color--hover);
            transition: .3s;
          }
        }

        &:focus {
          outline: map-get($slideshow-pager, focus);
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1;
            background-color: map-get($slideshow-pager, color--active);
          }
        }
      }
    }
  }
}
