// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// News List
// ================================
.fsNews {

  &.fsList {
    @if $divide-fsList-all == false {
      @if $divide-fsList-news == true {
        @include fsList-article-border;
      }
    }
  }

}
