// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - accordion */

// ================================
// Accordion
// ================================

$accordion: (
  background: $m1,
  background--hover: lighten($m1,20%),
  background--active: $m2,

  color: $s1,
  color--hover: $s1,
  color--active: $s1,

  open--icon: "+",
  close--icon: "-",
) !default;

//re-define heading (H2) for accordion - also used for tabs/accordion on mobile
@mixin accordionHeading($accordionH2: true){
  @include h2;
  margin-bottom: 2px;
  display: block;
  font-size: $body-font-size + 5;
  padding: $gutter / 1.5;
  color: map-get($accordion, color);
  transition: .3s;
}

@mixin accordionIcon {
    content:'';
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    margin: 0;
    top: $gutter / 1.5;
    //add your styles for both open/close icon here
}

%accordionHeaders{
  .fsPanel {
    > header {
      cursor: pointer;
      background: map-get($accordion, background);
      transition: .3s;

      h2 {
        @include accordionHeading;
        position: relative;
        a {
          transition:none;
        }
      }

      &:hover {
        background: map-get($accordion, background--hover);
        transition: .3s;

        h2 {
          color: map-get($accordion, color--hover);
          transition: .3s;
        }
      }
    }//end header

    > .fsElementContent {}

    &.fsStateOpen {
      > header {
        background: map-get($accordion, background--active);

        h2 {
          color: map-get($accordion, color--active);

          &:before {
            content: map-get($accordion, close--icon);
          }
        }
      }
    }//end open state
  }

  &.fsPanelIconAfter .fsPanel>header h2::after,
  &.fsPanelIconBefore .fsPanel>header h2::before {
    @include accordionIcon;
    content: map-get($accordion, open--icon);
  }

  // icon before and after open state
  &.fsPanelIconBefore .fsPanel.fsStateOpen>header h2::before,
  &.fsPanelIconAfter .fsPanel.fsStateOpen>header h2::after {
    @include accordionIcon;
    content: map-get($accordion, close--icon);
  }

  //icon before
  &.fsPanelIconBefore .fsPanel>header h2 {
    padding-left: $gutter + 20px;
    &:before {
      left: $gutter / 1.5;
    }
  }

  //icon after
  &.fsPanelIconAfter .fsPanel>header h2 {
    padding-right: $gutter + 20px;
    &:before {
      display: none;
    }
    &:after {
      right: $gutter / 1.5;
    }
  }

  //no icon
  &:not(.fsPanelIconBefore):not(.fsPanelIconAfter) .fsPanel > header h2:before {
    content: '';
  }

}//end extend

.fsAccordion {
  @extend %accordionHeaders;
}

