// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - login */

// ================================
// Documentation
// ================================

.fsAccount {
	button {
		&:not(:last-of-type) {
			margin-right: $gutter / 2;
		}
	}
}

//before login (.fsLoginMainView)
.fsLoginForgotPasswordLink, 
.fsLoginNewAccountLink {
	margin-bottom: $gutter / 2;

	&:last-child {
		margin-bottom: 0;
	}
}

.fsLoginNewFields {
	.fsLoginNewCaptcha {
		margin-bottom: $gutter;

		#recaptcha_area, 
		#recaptcha_table {
			max-width: 100%;
		}

		#recaptcha_widget_div {
			@media screen and (max-width: 599px) {
				overflow: hidden;
				border-radius: 5px;
			}
		}
	}
}

.fsResetPasswordFields {
	> div {
		margin-bottom: $gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		> span {
			display: block;
		}

		> input {
			margin-bottom: $gutter;
		}
	}
}

.fsLoginForgotControls,
.fsLoginNewFields,
.fsResetPasswordFields {
	@media screen and (max-width: 599px) {
		label {
			display: block;
			margin-bottom: 3px;
		}

		input {
			display: block;
			width: 100%;
		}
	}
}

.fsLoginForgotView {
	.fsLoginForgotEmail {
		display: block;
	}
}

.fsLoginForgotSuccess {
	.fsStyleDefaultButton {
		margin-top: $gutter;
	}
}

.fsAccountGreeting {
	margin-bottom: $gutter;
}

.fsAccountLinks {
	margin: 0;

	li:not(:first-child) {
		border-color: $s1;
	}
}

.fsAccountLogout {
	display: block;
	margin-top: $gutter;

	> .fsStyleUpdateButton {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

input[name*="passkey"] + .fsLoginSubmit {
	margin-top: $gutter;
}

.fsError {
	margin-bottom: 50px;
}

.fsResetContinue, // missing fsStyleDefaultButton Class
.fsResetCancel, // missing fsStyleUpdateButton Class
.fsLoginNewSuccess > button { // missing any class
	@include button;
}

.fsLoginNewSuccess {
	button {
		margin-top: $gutter;
	}
}
