// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - tabs */

// ==========================================================================
// Tabs
// ==========================================================================

$tabs: (
  background: $m1,
  background--hover: lighten($m1,20%),
  background--active: $m2,

  color: $s1,
  color--hover: $s1,
  color--active: $s1
) !default;


//re-define heading (H2) for tabs 
// also style tabs if different than accordion
//change this to false if tab and accordion design differ
@mixin tabsHeading($tabsH2: true){
  
  @if $tabsH2 == true {
    @include accordionHeading;
    
  }

  @else {
    //add styles if tab header style is different than accordion
  }
}


.fsTabs{
  padding: 0;
  background: none;
  border: 0;
  margin-bottom: $gutter;
	@extend %accordionHeaders;

  .fsTabsNav {
    margin: 0;
    padding: 0;
    display: none; //hides nav for mobile accordion functionality

    @include breakpoint(600px) {
      display: block;
    }

    li {
      margin-right: 2px;

      a {
        display: block;
        @include tabsHeading;
        background: map-get($tabs, background);
        color: map-get($tabs, color);

        &:hover {
          background: map-get($tabs, background--hover);
          color: map-get($tabs, color--hover);
        }
      }
      
      &.fsStateSelected { //active tab
        a {
          background: map-get($tabs, background--active);
          color: map-get($tabs, color--active);
        }
      }

    }

  }// end tabs navigation

  //for tab to accordion on mobile this reuses the accordion variables
  //be sure to update those so that these automatically match the styling
  .fsPanel {
  }// tab/accordion content section

}



// craziness to override app css
// this is to display the hidden header for accordion functionality on mobile
.fsPanelGroup.fsTabs>.fsElementContent>.fsPanel>.fsElementActionButtonContainer, 
.fsPanelGroup.fsTabs>.fsElementContent>.fsPanel>header, .fsPanelGroup.fsTabs>.fsElementContent>.fsPanel:not(.fsStateOpen) {
  display: block;
  @include breakpoint(600px) {
    display: none;
  }
}
